/* You can add global styles to this file, and also import other style files */
body {
    margin: 0; /* Uklanja default margin */
    display: block;
}

$default-font: 'Calibri', sans-serif;

* {
  font-family: $default-font;
}
