<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">{{ title }}</h2>

  <mat-dialog-content class="dialog-content">

    <form [formGroup]="reportForm">
      <mat-form-field class="full-width">
        <mat-label>Unesite razlog prijave</mat-label>
        <textarea matInput formControlName="reason"></textarea>
        <mat-error *ngIf="reportForm.get('reason')?.invalid">
          Razlog prijave mora imati najmanje 5 karaktera.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button (click)="closeDialog()">Otkaži</button>
    <button mat-button color="warn" (click)="submitReport()" [disabled]="reportForm.invalid">Prijavi</button>
  </mat-dialog-actions>
</div>
