<app-navbar></app-navbar>
  <div class="profile-container">
    <div class="profile-content">
      <div class="images-container">
        <div class="avatar" (click)="openFileInput('profilePicture')">
          <img 
            *ngIf="(profileUser$ | async)?.profilePicture" 
            [src]="imageUrl +'/profile-pictures/' + (profileUser$ | async)?.profilePicture"  
            alt="Profilna slika" 
          />
          <div *ngIf="!(profileUser$ | async)?.profilePicture" class="default-avatar">
              <mat-icon>camera_enhance</mat-icon>
          </div>
        </div>
        
        <div class="criminal-proof" (click)="OpenCriminalProof()" *ngIf="(profileUser$ | async)?.userType === 'sitter'">
          <div *ngIf="(profileUser$ | async)?.criminalRecordProof">
            <mat-icon>check_circle</mat-icon>
          </div>
          
          <div *ngIf="!(profileUser$ | async)?.criminalRecordProof" class="default-proof">
            <mat-icon>error</mat-icon>
          </div>
        </div>
      </div>
    
      <div class="follow">
        <app-follow 
          *ngIf="isFollowAllowed$ | async" 
          [loogedInId]="(user$ | async)?.id"
          [profileId]="(profileUser$ | async)?.id"
        >
        </app-follow>
      </div>

      <div class="report">
        <button (click)="openReportDialog($event)">
          Prijavi profil
        </button>
       
      </div>

      <form [formGroup]="dataForm" >
          <div class="input-group">
            <label for="fullName">Ime i prezime</label>
            <input id="fullName" formControlName="fullName" type="text" placeholder="{{(profileUser$ | async)?.fullName}}"  />
          </div>

          <div *ngIf="isCurrentUser$ | async" class="input-group">
            <label for="oldPassword">Trenutna lozinka</label>
            <input id="oldPassword" formControlName="oldPassword" type="password" placeholder="Obavezno, ukoliko postavljate novu" />
          </div>

          <div *ngIf="isCurrentUser$ | async" class="input-group">
            <label for="newPassword">Nova lozinka</label>
            <input id="newPassword" formControlName="newPassword" type="password" placeholder="Nova lozinka" />
          </div>

          <div class="input-group">
            <label for="location">Lokacija</label>
            <input id="location" formControlName="location" type="text" placeholder="{{(profileUser$ | async)?.location}}"/>
          </div>

          <div class="input-group">
            <label for="phoneNumber">Broj telefona</label>
            <input id="phoneNumber" formControlName="phoneNumber" type="tel" placeholder="{{(profileUser$ | async)?.phoneNumber}}" />
          </div>

          <div class="input-group">
            <label for="email">E-adresa</label>
            <input id="email" formControlName="email" type="email" placeholder="{{(profileUser$ | async)?.email}}" />
          </div>

          <div class="input-group" *ngIf="(profileUser$ | async)?.userType === 'sitter'">
            <label for="hourlyRate">Cena po satu (RSD)</label>
            <input id="hourlyRate" formControlName="hourlyRate" type="number" placeholder="{{(profileUser$ | async)?.hourlyRate}}" />
          </div>

          <div *ngIf="isCurrentUser$ | async" class="update-elements">
            <div class="update-icon"  (click)="updateData()">
              <mat-icon>update</mat-icon>
              <p class="azuriraj-text">Ažuriraj podatke</p>
            </div>

            <div class="update-criminal-image" (click)="openFileInput('criminalRecordProof')" *ngIf="(profileUser$ | async)?.userType === 'sitter'">
              <mat-icon>image_search</mat-icon>
              <p class="azuriraj-neosudjivanost">Dodaj potvrdu o neosudjivanosti</p>
            </div>

            <div class="delete-criminal-image" (click)="deleteCriminalProof()" *ngIf="(profileUser$ | async)?.userType === 'sitter'">
              <mat-icon>broken_image</mat-icon>
              <p class="ukloni-neosudjivanost">Ukloni potvrdu o neosudjivanosti</p>
            </div>

            <div class="delete-profile" (click)="deleteProfile()">
            <mat-icon>delete</mat-icon>
              <p class="obrisi-nalog">Obriši nalog</p>
            </div>
            

          </div>
        <!-- Dodaj ovo u template -->
          <input 
            type="file" 
            id="profilePictureInput" 
            style="display: none;" 
            (change)="onFileSelected($event, 'profilePicture')" 
            accept="image/*" 
          />
          <input 
            type="file" 
            id="criminalRecordProofInput" 
            style="display: none;" 
            (change)="onFileSelected($event, 'criminalRecordProof')" 
            accept="image/*" 
          />

        </form>
    </div>  
  </div>
  <app-review 
  *ngIf="isReviewAllowed$ | async" 
  [reviewedUserId]="(profileUser$ | async)?.id">
  </app-review>
