<div class="register-container">
    <div class="register-box">
      <h2>Registruj se</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-columns">
          <div class="form-column">
            <div class="input-group">
              <label for="fullName">Ime i prezime</label>
              <input id="fullName" formControlName="fullName" type="text" placeholder="Unesi svoje ime i prezime" />
            </div>

            <div class="input-group">
              <label for="email">E-adresa</label>
              <input id="email" formControlName="email" type="email" placeholder="Unesite e-adresu" />
            </div>

            <div class="input-group">
              <label for="password">Lozinka</label>
              <input id="password" formControlName="password" type="password" placeholder="Unesite vašu lozinku (više od 5 karaktera)" />
            </div>

            <div class="input-group">
              <label for="confirmPassword">Potvrdite lozinku</label>
              <input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Potvrdite lozinku" />
            </div>
          </div>
          
          <div class="form-column">
            <div class="input-group">
              <label for="location">Lokacija</label>
              <input id="location" formControlName="location" type="text" placeholder="Primer: Bulevar Kralja Aleksandra 73, Beograd, Srbija" />
            </div>

            <div class="input-group">
              <label for="phoneNumber">Broj telefona</label>
              <input id="phoneNumber" formControlName="phoneNumber" type="tel" placeholder="Unesite vaš broj telefona" />
            </div>

            <div class="input-group">
              <label for="userType">Tip korisnika</label>
              <select id="userType" formControlName="userType" (change)="onUserTypeChange()">
                <option value="" disabled>Izaberite </option>
                <option value="parent">Roditelj</option>
                <option value="sitter">Siter</option>
              </select>
            </div>
            
            <div class="input-group" *ngIf="isSitter">
              <label for="hourlyRate">Cena po satu (RSD)</label>
              <input id="hourlyRate" formControlName="hourlyRate" type="number" placeholder="Unesite cenu po satu" />
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid">Registruj se</button>

        <p class="login-link">
          Već imate nalog? <a (click)="navigateToLogin()">Prijavi se</a>.
        </p>
      </form>
    </div>
  </div>